header {
  color:whitesmoke;
  font-size:20px;
}

.nav-bar {
  background:cornflowerblue;
}

.nav-list {
  list-style: none;
  text-align: center;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  color:darkblue;
}

main {
  background:aliceblue;
}
h1 {
  color:darkblue;
}

h2 {
  color:darkblue;
}

.about-list {
  list-style:none;
}

footer {
  background:cornflowerblue;
  text-align: center;
  font-size: 20px;
  color:whitesmoke;
}

@media (max-width: 760px) {
  .about-head {
    text-align: center;
  }

  .cover-img {
    align-content: center;
  }

  .about-text {
    text-align: center;
  }
}