header {
  color:whitesmoke;
  font-size:20px;
}

.nav-bar {
  background:cornflowerblue;
}

.nav-list {
  list-style: none;
  text-align: center;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  color:darkblue;
}

main {
  background:aliceblue;
}
h1 {
  color:darkblue;
}

h2 {
  color:darkblue;
}

footer {
  background:cornflowerblue;
}