header {
  color:whitesmoke;
  font-size:20px;
}

.nav-bar {
  background:cornflowerblue;
}

.nav-list {
  list-style: none;
  text-align: center;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  color:darkblue;
}

.nav-not-active {
  color:whitesmoke;
}

.nav-active {
  color:darkblue;
}

main {
  background:aliceblue;
}
h1 {
  color:darkblue;
}

h2 {
  color:darkblue;
}

.about-list {
  list-style:none;
}

.work-head {
  text-align: center;
}

.project-head {
  text-align: center;
}

.resume-list {
  list-style: none;
}

.image-cover {
  background-color: rgba(26, 138, 218, 0.9);
}

.project-anchor {
  text-decoration:none;
  text-align: center;
}

.project-name {
  text-align: center;
  margin-top:30%;
}

.project-name:hover {
  color:whitesmoke;
}

.project-repo {
  color:darkblue;
  text-align:center;
  font-size: 30px;
}

.project-repo:hover {
  color:whitesmoke;
  cursor: pointer;
}

.img-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.app-img {
  width:450px;
  height:450px;
  object-fit:scale-down;
}

.project-img:hover {
  background-color: white;
}

.contact-head{
 margin-left: 0.5em;
}

.contact-form {
 margin-left: 1.75rem;
}

footer {
  background:cornflowerblue;
  text-align: center;
  font-size: 20px;
  color:whitesmoke;
}

@media (max-width: 760px) {
  .about-head {
    text-align: center;
  }

  .cover-img {
    align-content: center;
  }

  .about-text {
    text-align: center;
  }

  .resume-head {
    text-align: center;
  }
  
  .resume-text {
    text-align: center;
  }
}